@model IEnumerable<pagexd.ViewModels.PostVM>
@{
    ViewData["Title"] = "ContentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ContentList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Txt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsArchived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Txt)
                </td>
                <td>
                    
                    <img src="@Url.Content(item.Photo)" width="200" height="200">

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAccepted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsArchived)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.PostID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PostID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>