@using Microsoft.AspNetCore.Identity
@using pagexd.Data
@inject SignInManager<PageUser> SignInManager
@inject UserManager<PageUser> UserManager
@model pagexd.ViewModels.PostWithCommentsVM


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.PostVM.Title</h1>
<a asp-controller="Home" asp-action="Index">Back to main page</a>

@if (User.IsInRole("Administrator"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Edit" asp-route-id="@Model.PostVM.PostID">Edit as Administrator</a>
    </li>
}
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostVM.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostVM.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostVM.Txt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostVM.Txt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostVM.IsAccepted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostVM.IsAccepted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostVM.Photo)
        </dt>

        <dd class="col-sm-10">
            <img src="@Url.Content(Model.PostVM.Photo)" width="600" height="600">
        </dd>
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
    <form enctype="multipart/form-data" asp-action="Comment" method="post" class="mt-3">
        <div class="form-group">
            <label asp-for="CommentVM.Txt" class="control-label"></label>
            <textarea asp-for="CommentVM.Txt" class="form-control"></textarea>
            <span asp-validation-for="CommentVM.Txt" class="text-danger"></span>
        </div>

        <input name="CommentVM.PostIDref" type="hidden" value="@Model.PostVM.PostID" />
        <div class="form-group">
            <input type="submit" value="Add Comment" class="btn btn-primary" />
        </div>
    </form>
    }


</div>
<div>
    <a href='javascript:history.go(-1)'>Go Back to Previous Page</a>
</div>


<h3>Comments:</h3>
@foreach (var m in Model.CommentVMs)
{
    <div>
        <dl>
            <dt class="col-sm-2">
                @m.CreationDate
            </dt>
            <dd class="col-sm-10">
                @m.Txt
            </dd>
            
        </dl>
    </div>
}

