@using Microsoft.AspNetCore.Identity
@using pagexd.Data
@inject SignInManager<PageUser> SignInManager
@inject UserManager<PageUser> UserManager
@model pagexd.ViewModels.PostWithCommentsVM


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.PostVM.Title</h1>
<a asp-controller="Home" asp-action="Index">Back to main page</a>

@if (User.IsInRole("Administrator"))
{
    <li class="nav-item">
        <a asp-area="" asp-controller="Admin" asp-action="Edit" asp-route-id="@Model.PostVM.PostID">Edit as Administrator</a>
    </li>
    <li class="nav-item">
        <a asp-area="" asp-controller="Admin" asp-action="ContentList">Content List</a>
    </li>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PostVM.AcceptanceDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PostVM.AcceptanceDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PostVM.UserID)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PostVM.UserID)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PostVM.IsAccepted)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PostVM.IsAccepted)
    </dd>
}
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Author:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostVM.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostVM.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostVM.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostVM.Txt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostVM.Txt)
        </dd>

        <dt style="white-space: pre-line"></dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.PostVM.Photo)" width="600" style="max-width: 100%">
        </dd>
    </dl>


    @if (SignInManager.IsSignedIn(User))
    {
            <div style="width:600px;max-width:100%">
                <form asp-action="Comment" method="post">
                    <div class="form-group">
                        <label asp-for="CommentVM.Txt"></label>
                        <textarea style="width:100%;" id="commentarea" asp-for="CommentVM.Txt" class="form-control"></textarea>
                        <span asp-validation-for="CommentVM.Txt" class="text-danger"></span>
                    </div>

                    <input name="CommentVM.PostIDref" type="hidden" value="@Model.PostVM.PostID" />
                    <div class="form-group">
                        <input id="addcomment" type="submit" value="Add Comment" class="btn btn-primary" />
                    </div>
                </form>
            </div>
    }
    <script>
        $(document).ready(function () {
            $('#addcomment').attr('disabled', true);

            $('#commentarea').keyup(function () {
                if ($(this).val().length != 0) {
                    $('#addcomment').attr('disabled', false);
                }
                else {
                    $('#addcomment').attr('disabled', true);
                }
            })
        });
    </script>

    <div>
        <a href='javascript:history.go(-1)'>Go Back to Previous Page</a>
    </div>


    <h3>Comments:</h3>
    @foreach (var m in Model.CommentVMs.OrderByDescending(m => m.CreationDate))
    {
        <div class="container" style="width: 600px; max-width: 100%; float: left; ">
            <p style="text-align:left;">
                <b>Author: </b>@m.UserName
                <span style="float:right; text-decoration-color: blue">
                    @m.CreationDate
                </span>
            </p>
            <p style="text-indent: 10px; word-wrap:break-word ">
                @m.Txt
            </p>
        </div>
    }

</div>