@model IPagedList<pagexd.ViewModels.PostVM>

@{
    ViewData["Title"] = "YourContent";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>YourContent</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Txt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IsAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().IsArchived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Txt)
                </td>
                <td>
                    <img src="@Url.Content(item.Photo)" width="200" height="200">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAccepted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsArchived)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.PostID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PostID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pull-right">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("YourContent",
       new
            {
                page
     }),
     new PagedListRenderOptionsBase
     {
         LiElementClasses = new string[] { "page-item" },
         PageClasses = new string[] { "page-link" },
         Display = PagedListDisplayMode.IfNeeded

          })
</div>

<div>
    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Back</a>
</div>