@model IPagedList<pagexd.ViewModels.PostVM>


@{
    ViewBag.Title = "Not Accepted";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var m in Model)
        {
            @if (m.IsAccepted == false && m.IsArchived == false)
            {
                <span style="white-space: pre-line"></span>
                <div>
                    <a href="@Url.Action("Details", "Post", new { id = @m.PostID })">
                        <div class="content-title">
                            <h1 style="min-width: 1000px">@m.Title</h1>
                            <h5>@m.CreationDate</h5>
                            <img src="@Url.Content(m.Photo)" alt="@m.Title" width="600" />
                            <h5>Comments: @m.NoComments</h5>
                        </div>
                    </a>
                    <div>
                        @if (User.IsInRole("Administrator"))
                        {
                            <a asp-area="" asp-controller="Admin" asp-action="Edit" asp-route-id="@m.PostID">Edit as Administrator</a>
                        }
                    </div>
                </div>
                <span style="white-space: pre-line"></span>
            }
        }
    </div>
</div>

<div class="pull-right">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("NotAccepted",
       new
            {
                page
     }),
     new PagedListRenderOptionsBase
     {
         LiElementClasses = new string[] { "page-item" },
         PageClasses = new string[] { "page-link" },
         Display = PagedListDisplayMode.IfNeeded

          })
</div>