@model IEnumerable<pagexd.ViewModels.PostVM>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var m in Model)
        {
            @if (m.IsAccepted == false && m.IsArchived == false)
            {   <div>
                    <a href="@Url.Action("Details", "Post", new { id = @m.PostID })">
                        <div class="content-title">
                            <h1 class="display-4">@m.Title</h1>
                            <img src="@Url.Content(m.Photo)" width="600" height="600" />
                            <h5>@m.CreationDate</h5>

                        </div>
                    </a>
                    <div>
                        @if (User.IsInRole("Administrator"))
                        {
                           <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Edit" asp-route-id="@m.PostID">Edit as Administrator</a>
                        }
                    </div>
                </div>
                
            }
        }
    </div>
</div>